/* body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../../img/tela-inicial/noite.jpg') url('../../img/tela-inicial/pedra-noite.png');
 } */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-image: url('../../img/pginicial/Telainicial-bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 120px; */
}
a{
    text-decoration: none;
}
#topo img{ width: 100%;}
#menu{
    /* display: block;
    width: 1%;
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0; */
}
#menu > div{
    /* height: 0px; */
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s ease-out
}
/* .box img{
    left: -1000px;
} */

/* #menu > div a{
    width: 100%;
    height: 100%;
    color: #fff !important;
    margin-left: 30px;
    display: block;
    font-size: 22px;
} */
#menu > div:hover{
    cursor: pointer;
}
/* #menu > div:nth-child(1){
    background-image: url('../../img/pginicial/bt_1.png');
 }
 #menu > div:nth-child(1):hover{
    background-image: url('../../img/pginicial/bt_1_hover.png');
}
#menu > div:nth-child(2){
    background-image: url('../../img/pginicial/bt_2.png');
 }
 #menu > div:nth-child(2):hover{
    background-image: url('../../img/pginicial/bt_2_hover.png');
}
#menu > div:nth-child(3){
    background-image: url('../../img/pginicial/bt_3.png');
 }
 #menu > div:nth-child(3):hover{
    background-image: url('../../img/pginicial/bt_3_hover.png');
}
#menu > div:nth-child(4){
    background-image: url('../../img/pginicial/bt_4.png');
 }
 #menu > div:nth-child(4):hover{
    background-image: url('../../img/pginicial/bt_4_hover.png');
}
#menu > div:nth-child(5){
    background-image: url('../../img/pginicial/bt_5.png');
 }
 #menu > div:nth-child(6):hover{
    background-image: url('../../img/pginicial/bt_6_hover.png');
} */

#menu > div.init{
    margin-left: -2000px !important;
}
.box{
    display: block;
    height: 100vh;
    width: 100%;
    background: url('../../img/pginicial/fundo_botoes.png'), url('../../img/pginicial/bg_capa.png');
    background-repeat: no-repeat;
    background-position: right center, center;
    background-size: contain, cover;
}

.img-titulo{
    position: absolute;
    top: 0%;
    transition: all 0.5s ease-out;
    width: 20%;
}
.img-titulo2{
    position: absolute;
    top: 13%;
    transition: all 0.5s ease-out;
    z-index: 10;
    width: 50%;
}
.img-titulo3{
    position: absolute;
    top: 41%;
    transition: all 0.5s ease-out;
    z-index: 10;
    width: 40%;
}
.img-titulo.init, .sub-titulo.init, .img-titulo2.init,  .img-titulo3.init{
    left: 0%;
    max-width: 95%;
}
.sub-titulo{
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease-out;
}
.img-titulo.init, .sub-titulo.init{
    left: 0%;
}
/* #bt-intro1 a, #bt-intro2 a, #bt-intro4 a, #bt-intro4 a, #bt-intro5 a, #bt-intro6 a{
    transition: all 0.3s;
}

#bt-intro1:hover a, #bt-intro2:hover a, #bt-intro3:hover a, #bt-intro4:hover a, #bt-intro5:hover a, #bt-intro6:hover a{ 
    text-shadow: -10px 10px 0px #919191,
                 -20px 20px 0px #3b3b3b,
                 -30px 30px 0px #303030;
                 color: transparent;
    opacity: 0.65;
    cursor: pointer;
} */


/* INI video intro */
#btn-1 img{
    /* max-width: 300px;
    margin-left: 200px;
    margin-top: 200px; */
}
#icon1 > img{
    /* margin-left: -200px; */
}

#icon0{
    background-image: url('../../img/pginicial/bt_video.png');
    background-size: contain;
    width: 200px;
    height: 180px;
    position: absolute;
    right: 16%;
    top: 12%;
    border: none;
}
#icon0:hover{
    background-image: url(../../img/pginicial/mob_bt_video_hover.png);
}
#icon1{
    background-image: url(../../img/pginicial/mob_bt_conteudo.png);
    background-size: contain;
    width: 200px;
    height: 180px;
    position: absolute;
    right: 20%;
    bottom: 29%;
}
#icon1:hover{
    background-image: url(../../img/pginicial/mob_bt_conteudo_hover.png);
}
#icon2{
    position: absolute;
    right: 5%;
    top: -5%;
}
#icon3{
    position: absolute;
    right: 30%;
}
#icon4{
    position: absolute;
    right: 26%;
    bottom: -172%;
}
.backdrop {
    background-color: rgba(55,55,55, .8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-video {
    background-image: url('../../img/pginicial/Video-apresentacao-gd.png');
    width: 1133px;
    height: 708px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 260px;
    padding-top: 120px;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.modal-video video {
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    margin-top: 15px;
}

#fechar-video {
    position: absolute;
    top: 60px;
    right: 200px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 2px 2px 3px #333;
    transition-duration: .3s;
}
#fechar-video:hover {
    background-color: #ff8b01;
    color: white;
    transition-duration: .3s;
}

.botao-video p {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.video-pq {
    height: 150px;
    width: 150px;
    background-image: url('../../img/pginicial/Video-apresentacao-pq.png'); 
    background-size: contain;
    background-position: center;
    display: flex;
    padding-left: 29px;
    padding-top: 23px;
}
.img-play {
    height:85px;
    width: 85px;
}
.video-pq:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.logo {
    position: absolute;
    z-index: 15;
    right: 15px;
    bottom: 15px;
}
.hidden-lg {display: none;}

@media (max-width: 1080px) {
    .botao-video {
        top: 0px;
    }
    #menu{
        left: 1%;
    }
    .img-titulo.init, .sub-titulo.init {
        left: 2%;
    }
    .img-titulo2{top: 12%;}
    .img-titulo3{top: 35%;}
}
@media (max-width: 780px) {
    .img-titulo2{top: 8%;}
    .img-titulo3{top: 24%;}
}
@media (max-width: 560px) {
        #menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        .modal-video {
            width: 100%;
            height: auto;
            padding: 15px;
            padding-bottom: 40px;
            background-image: unset;
            background-color: #007981;
            border-radius: 25px;
        }
        .modal-video iframe {
            width: 100%;
        }
        #fechar-video {
            top: -20px;
            right: 10px;
        }
        .img-titulo, .img-titulo2, .img-titulo3 {
            display: none;
        }
        #icon0 {
            left: 10px;
            right: unset;
            top: 210px;
        }
        #icon1 {
            left: unset;
            right: 10px;
            top: 470px;
        }
        .hidden-lg {
            display: block;
        }
}